body{
  margin: 0;
  padding: 0;
  background-image: url(listing3.jpeg);
  background-size: cover;
}

.spaces-new{
  width: 800px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
  background: rgba(90, 70, 70, 0.3);
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
}
.spaces-new h1{
  margin-top: 20;
  color: #fff;
}

.txtb{
  border: 1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}

.txtb label{
  display: block;
  text-align: center;
  color: #333;
  font-size: 14px;
}

.txtb input, .txtb textarea{
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}
