<form action="/spaces" method="post">
  <input type="text" name="name" placeholder="Name" />
  <input type="text" name="description" placeholder="Description" />
  <input type="text" name="price" placeholder="Price" />
  <input type="submit" value="List my space" />
</form>
